body{
    background-color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
aside{
    left: 0%;
    margin-right: 20px;
    width: 12%;
    height: 100%;
    background-color: cornflowerblue;
}
section{
    position: absolute;
    top: 0%;
    left: 13%;
}
h3{
    background-color: lightblue;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: blue;
}
a:hover{
    cursor: pointer;
}
.pMarco{
    margin-top: 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: yellow;
}
#ocultar{
    display: inherit;
}